@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
	--main-color:#1E3747;
	--accent-color:#f69d5b;
	--light-color:#edb992;
	--secondary-color:#BFD3E8;
}

@font-face {
	font-family: Roboto;
	src: url(assets/fonts/RobotoSlab-VariableFont_wght.ttf);
}

body {
	font-family:"Roboto Slab", Roboto;
	background-color:var(--main-color);
	background-image: url("assets/images/scroll.png");
	background-size: cover;
	background-repeat: repeat-y;
	background-position: 0 50vh;
	color: var(--light-color);
	font-size: 30px;
}
h2 {
	font-size: 60px;
}
.hero {
	font-size: 50px;
}
@media (max-width: 700px) {
	body {
		font-size: 24px;
	}
	h2 {
		font-size: 36px;
	}
	.hero {
		font-size: 35px;
	}
}

.erry {
	position: fixed;
	bottom: -60px;
	right: 10px;
	transition: 0.2s;
	border: none;
	background-color: transparent;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	z-index: 3;
}
#jerryCherry {
	width: max(24px, 40vw);
	max-width: 200px;
	filter: drop-shadow(-2px -2px 2px rgba(0, 0, 0, 0.408));
	-webkit-filter: drop-shadow(-2px -2px 2px rgba(0, 0, 0, 0.408));
}
.erry:hover {
	bottom:-40px;
}
.erry:active {
	scale: 1.1;
}
@keyframes dialogBox {
	0% {
		margin-bottom: 30px;
	}
	50% {
		margin-bottom: 40px;
	}
	100% {
		margin-bottom: 30px;
	}
}
.erry > p {
	background-color: white;
	color: var(--main-color);
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 10px;
	position: relative;
	font-size: 16px;
	animation-name: dialogBox;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
.erry > p::after {
	content: "▼";
	position: absolute;
	bottom: -0.9em;
	color: white;
	left: 50%;
	translate: -50%;
}

#logo {
	height: 8vh;
	top: 1vh;
	left: 1vw;
	border-radius: 15px;
}
.hero {
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	width: 80%;
	height: 80%;
	display: flex;
}
.bg {
	flex:1;
	background-image: url("assets/images/bg.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: 0.2s;
}
.bg:hover {
	rotate: 10deg;
}
.heroTitle {
	flex:2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: left;
}
.heroTitleInner > h1, .heroTitleInner > p { 
	margin: 0;
	text-align: inherit;
	display: flex;
}
.heroTitleInner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	padding-left: 70px;
	box-sizing: border-box;
}

@media (max-width:1200px) {
	.bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.2;
		filter: blur(5px);
		-webkit-filter: blur(5px);
	}
	.heroTitleInner{
		align-items: center;
		text-align: center;
		padding-left: 0;
	}
	.heroTitleInner > h1, .heroTitleInner > p { 
		justify-content: center;
		align-items: center;
	}
}
.heroTitleInner > h1 {
	color: var(--accent-color);
}
.heroTitleInner > p {
	color: var(--secondary-color);
}
.content {
	position: absolute;
	top: 100vh;
	left: 50%;
	translate: -50% 0;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: start;
	box-sizing: border-box;
	min-height:100vh;
	padding-bottom: 300px;;
}
.content > * {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	box-shadow: 0 10px 20px var(--main-color);
	padding: 10px;
}
.content > a, button {
	background-color: var(--main-color);
	padding: 10px !important;
}
.content > h2 {
	border-bottom: solid 2px;
	padding-bottom: 10px;
	color: var(--accent-color);
}
.content > :not(h2) {
	margin: 0;
	margin-left: 50px;
	padding-left: 0;
}
.content > p {
	padding-left: 20px !important;
	position: relative;
	border-left: solid 2px var(--secondary-color);
	margin-bottom: 10px;
}
@media (max-width:800px) {
	.content > :not(h2) {
		margin-left: 0;
		padding-left: 0px;
	}
}

a, button {
	border: none;
	border-bottom: solid 2px;
	color: inherit;
	padding:5px;
	transition: 0.2s;
	margin: 0 10px 0 10px;
	text-decoration: none;
	font-family: inherit;
	font-size: inherit;
}
a:hover, button:not(.erry):hover {	
	background-color: var(--accent-color);
	color: var(--main-color);
}
.current {
	border-bottom: dashed 2px;
}

#erryNav {
	position: fixed;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	background-color: var(--main-color);
	width: 100%;
	height: 100%;
	transition: 1s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
	box-shadow: 0 0 100px rgb(0, 0, 0);
}
.links {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
}

#canvas {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.profile {
	display: flex;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	background-color: var(--accent-color);
	padding: 10px;
	box-sizing: border-box;
	color: var(--main-color);
	max-width: 800px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.profileText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
}
.profileText > * {
	padding: 0;
	margin: 0;
	color: inherit;
}
.profileText > a:hover {
	border-width: 5px;
}
.pfp {
	max-width: 50%;
	margin-left: 10px;
	margin-right: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.profileDescription {
	margin-bottom: 100px;
}
.profileDescription > p {
	padding: 20px;
	margin: 0;
}

mark {
	background-color: var(--accent-color);
	color: var(--main-color);
	display: inline-block;
	width: fit-content;
}
p > a {
	padding: 0;
	margin: 0;
}
li {
	padding-left: 20px
}
ol {
	list-style: none;
	counter-reset: item;
}
ol > li:before { 
	content: counter(item) ". ";
	counter-increment: item;
	width: 2em;
	display: inline-block;
  }

footer {
	position: absolute;
	bottom: 0;
	padding: 10px;
	box-sizing: border-box;
	padding-right: 200px;
	font-size: 15px;
}

small > a {
	padding: 0;
	margin: 0;
}

.tutorialFrame {
	max-width: 100%;
	overflow: scroll;
	padding: 0;
	margin-bottom: 25px !important;
}
.tutorialLong {
	aspect-ratio: 1/0.5625;
}

.imagesSlides {
	position: relative;
	overflow-x: scroll;
	white-space: nowrap;
	scroll-behavior: smooth;
	padding: 0;
	box-sizing: border-box;
	font-size: 0;
}
.imagesSlides > img {
	height: 100%;
	display: inline;
	box-sizing: border-box;
}

.slideControls {
	position: relative;
	width: 100%;
	padding: 0;
	translate: 0 -25px;
	margin-bottom: 25px !important;
	background-color: transparent;
	backdrop-filter: none;
	box-shadow: none;
}
.leftRight {
	position: absolute;
	margin: 10px;	
	background-color: rgba(255, 255, 255, 0.1);
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
	backdrop-filter: blur(10px);
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
	border-radius: 100vmin;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace;
}
.lrl {
	left: 0;
}
.lrr {
	left: 70px;
}